In [3]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv("http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv")
row_count = df.shape[0]
avg_sq_ft = np.mean(df['sq__ft'])
df_zip_95760 = df['zip'] == 95760
df_zip_not_95760 = df['zip'] != 95760

In [50]:

n = 9
array_1d = np.array(range(n))

array_reshaped = array_1d.reshape((3, -1))

In [53]:
n = 2
a=np.array(([1,0]*n+[0,1]*n)).reshape(2*n, -1)
a

array([[1, 0],
       [1, 0],
       [0, 1],
       [0, 1]])

In [48]:
a

array([[1, 0, 1, 0],
       [0, 1, 0, 1]])

In [65]:
foo = ['hello', 'bye', 'car']
df = pd.Series(np.array(foo)).str.len()
df

0    5
1    3
2    3
dtype: int64

2010-01-01    1
2010-01-02    1
dtype: int64


Use the real estate transaction DataFrame from Exercise 8 and extract into a new DataFrame every 5th row using iloc and just the street address and zip code columns. This can be done with one line of code.

In [74]:
df.iloc[::5, :][['street', 'zip']]

                           street    zip
0                    3526 HIGH ST  95838
5              5828 PEPPERMILL CT  95841
10               645 MORRISON AVE  95838
15                 7340 HAMDEN PL  95842
20             6118 STONEHAND AVE  95621
25             3828 BLACKFOOT WAY  95843
30   5201 LAGUNA OAKS DR Unit 140  95758
35           3920 SHINING STAR DR  95823
40   4800 WESTLAKE PKWY Unit 2109  95835
45                   2622 ERIN DR  95833
50                   9417 SARA ST  95624
55             1122 WILD POPPY CT  95632
60             4844 CLYDEBANK WAY  95843
65                   2617 BASS CT  95826
70            8708 MESA BROOK WAY  95624
75          8345 STAR THISTLE WAY  95823
80                    5037 J PKWY  95823
85            4243 MIDDLEBURY WAY  95655
90               6913 RICHEVE WAY  95828
95               4901 MILLNER WAY  95757
100         12209 CONSERVANCY WAY  95742
105                  6850 21ST ST  95822
110           8882 AUTUMN GOLD CT  95624
115             4925 PERCHERON DR  95757
120                4359 CREGAN CT  95742
125              9723 TERRAPIN CT  95757
130         6708 PONTA DO SOL WAY  95757
135            11215 SHARRMONT CT  95693
140                     1300 F ST  95814
145             6945 RIO TEJO WAY  95757
..                            ...    ...
835             2818 KNOLLWOOD DR  95682
840             1113 SANDWICK WAY  95630
845              6401 MARSHALL RD  95633
850         4841 VILLAGE GREEN DR  95762
855                9880 IZILDA CT  95829
860                8432 BRIGGS DR  95747
865          3720 VISTA DE MADERA  95648
870           5672 HILLSDALE BLVD  95842
875             550 DEL VERDE CIR  95833
880              6208 GRATTAN WAY  95660
885                  7629 BETH ST  95832
890             7730 ROBINETTE RD  95828
895              4071 EVALITA WAY  95823
900              2636 TRONERO WAY  95670
905                612 STONE BLVD  95691
910             8636 LONGSPUR WAY  95843
915          5920 VALLEY GLEN WAY  95823
920            1001 RIO NORTE WAY  95834
925                  7342 DAVE ST  95828
930              1140 EDMONTON DR  95833
935            1080 RIO NORTE WAY  95834
940         6601 WOODMORE OAKS DR  95662
945         5509 LAGUNA CREST WAY  95758
950         6600 SILVERTHORNE CIR  95842
955               2100 BEATTY WAY  95747
960             7958 ROSEVIEW WAY  95828
965           9185 CERROLINDA CIR  95758
970                 3557 SODA WAY  95834
975           5024 CHAMBERLIN CIR  95757
980            9169 GARLINGTON CT  95829

[197 rows x 2 columns]