In [48]:
cluster = KNN(n_neighbors=5)
cluster.fit(X=iris,y=data.target)
y_knn = pd.DataFrame(cluster.predict(iris))
y_knn = y_knn.replace(0, target_names[0])
y_knn = y_knn.replace(1, target_names[1])
y_knn = y_knn.replace(2, target_names[2])
y_knn
#df

             0
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
5       setosa
6       setosa
7       setosa
8       setosa
9       setosa
10      setosa
11      setosa
12      setosa
13      setosa
14      setosa
15      setosa
16      setosa
17      setosa
18      setosa
19      setosa
20      setosa
21      setosa
22      setosa
23      setosa
24      setosa
25      setosa
26      setosa
27      setosa
28      setosa
29      setosa
..         ...
120  virginica
121  virginica
122  virginica
123  virginica
124  virginica
125  virginica
126  virginica
127  virginica
128  virginica
129  virginica
130  virginica
131  virginica
132  virginica
133  virginica
134  virginica
135  virginica
136  virginica
137  virginica
138  virginica
139  virginica
140  virginica
141  virginica
142  virginica
143  virginica
144  virginica
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [15]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# ml
from sklearn import datasets as ds
from sklearn import linear_model as lm
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.model_selection import train_test_split as tts

# infra
import unittest

# ------ Place code below here \/ \/ \/ ------
# import plotly library and enter credential info here

import plotly
plotly.tools.set_credentials_file(username='meyerscr', api_key='uq0fjsyAvmeO0tIi3VlB')



# ------ Place code above here /\ /\ /\ ------





# ------ Place code below here \/ \/ \/ ------
# Load datasets here once and assign to variables iris and boston

data = ds.load_iris()
iris = pd.DataFrame(data.data, columns = data.feature_names)
iris.head()

data = ds.load_boston()
boston = pd.DataFrame(data.data, columns = data.feature_names) 
boston.head()
df_first_five_rows = iris.head()

In [22]:
data = ds.load_iris()
iris = pd.DataFrame(data.data, columns = data.feature_names)
target_names = data.target_names